html {
    margin: 0px;
    font-size: 16px;
    background-color:  gray;
}

body{
    margin: 0px;
    width: 100%;
    height: 75rem;
}

.header {
    background-color: black;
    color: ivory;
    width: 100%;
    height: 3rem;
    display: block;
}

#navigation a {
    text-decoration-line: none;
    color: ivory;
}

#navigation ul {
    margin: 0px;
    display: block;
    text-align: end;
}

#navigation li {
    padding: 1rem 2rem;
    display: inline-block;    
}

.container {
    width: 100%;
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 18rem 20rem 20rem;
    justify-items: center;
    align-items: center;
}

.picture img {
    width: auto;
    height: 15rem;
}

.picture {
    grid-area: 1 / 2 / 2 / 3;
}

.about {
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
}

.form {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

#name {
    width: 25rem;
    height: 1rem;
}

#email {
    width: 25rem;
    height: 1rem;
}

#message{
    width: 25rem;
    height: 20rem;
}

@media only screen and (max-width: 1024px) {
    

    .header {
        width: 100%;
        height: 10rem;
    }

    #navigation li {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .container {
        margin: 0px;
        padding-top: 5rem;
        height: 2000px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 400px 400px 1200px;
    }

    .picture {
        grid-area: 1 / 2 / 2 / 3;
    }

    .about {
        grid-area: 2 / 1 / 3 / 4;
        font-size: 1.75rem;
    }

    .form {
        padding-top: 2rem;
        padding: 2rem;
        grid-area: 3 / 2 / 4 / 3;
    }

    .picture img {
        width: auto;
        height: 25rem;
    }

    #email {
        height: 2.5rem;
    }

    #name {
        height: 2.5rem;
    }

    #message {
        height: 40rem
    }
}